@font-face {
  font-family: 'Pinyon Script';
  src: url("./fonts/PinyonScript-Regular.ttf") format('truetype');
}

.home{
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}
.homeh{
  background-color: rgba(0, 0, 0, 0.32);
  min-height: inherit;
}

main{
  padding-top: 2rem;
}
.cover-container {
  max-width: 42em;
}

.body{
  color: rgba(255, 255, 255, 0.81);
  background-color: rgba(16, 18, 20, 0.92);
  height:100%;
}

.logo{
  font-family: 'Pinyon Script', cursive;
  font-size: 2.5rem;
  font-weight: 700;
  color:white;
}

ul{
  font-size: 2em;
}

.nav-masthead .nav-link {
  padding-left: 1.5rem;
  padding-bottom: 0;
  font-weight: 700;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-family: 'Pinyon Script', cursive;
  color: white;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus,
.nav-masthead .active{
  color: yellow;
  border-bottom-color: yellow;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.info{
  color: white;
  border-radius: 20px;
  background-color: rgba(64, 62, 62, 0.55);
  font-family: 'Pinyon Script', cursive;
  font-size: 2rem;
  text-align: center;
}

.description{
  font-size: 4rem;
  font-family: 'Pinyon Script', cursive;
}

#contact, #about{
  background-color: transparent;
}

h4,h3{
  color: yellow;
}

h2{
  text-decoration: underline;
}
input[type="text"],input[type="email"],
input[type="tel"], textarea.form-control {
  background-color : #d1d1d1; 
}

footer{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer a,#about a{
  text-decoration: none;
  color: yellow;
}

.card-text{
  color: rgba(16, 18, 20, 0.92);
}

.scrollTop{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 10;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  color: yellow;
}

button.btn-submit{
  background-color: transparent;
  border-color: yellow;
  color: yellow;
}
button.btn-submit:hover{
  border-color: white;
  color: white;
}

/*Media Queries*/
@media screen and (max-width:411px) {
  form.contact{
    width: 100%!important;;
  }
}